---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1
    class="text-5xl font-semibold leading-tight tracking-tight text-left max-w-3xl"
  >
    Get in touch.
  </h1>
</BaseLayout>
