---
import ProjectCard from "../components/ProjectCard.astro";
import ArrowUpRight from "../components/icons/ArrowUpRight.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Gutter from "../layouts/Gutter.astro";
---

<BaseLayout>
  <div class="mb-32">
    <Gutter>
      <h1
        class="text-5xl md:text-6xl font-bold leading-tight tracking-tight max-w-4xl text-zinc-900"
      >
        Full-stack React developer, guitarist, and lover of the outdoors.
      </h1>
      <p class="text-lg leading-relaxed text-zinc-600 mt-8 max-w-2xl">
        I'm Isaac, a full-stack developer based in Chicago with a focus on
        React. I design and build enterprise-scale full-stack applications.
      </p>
      <div class="flex mt-6">
        <a
          href="/contact"
          class="bg-zinc-900 flex items-center hover:opacity-80 transition ease-in-out font-medium text-white rounded-full px-6 py-2"
          >Get in touch
          <ArrowUpRight class="h-5 w-5 ml-2" />
        </a>
      </div>
    </Gutter>
  </div>

  <div class="py-16 bg-zinc-50 border-t border-zinc-900/5">
    <Gutter>
      <h2 class="text-4xl font-bold tracking-tight">Recent projects</h2>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-10 py-10"
      >
        <ProjectCard
          title="The Brew Guide"
          description="A super fast, SEO-optimized coffee blog built from the ground-up with Astro.js and React"
          img={{ url: "/the-brew-guide.png", alt: "The Brew Guide" }}
          href="https://thebrewguide.com"
          githubUrl="https://github.com/ihusemann/the-brew-guide"
        />
      </div>
      <div class="flex justify-end">
        <a
          href="https://github.com/ihusemann/portfolio"
          class="text-sm text-zinc-600 hover:text-zinc-900 transition ease-in-out flex items-center"
        >
          <span>...and this site!</span>
          <ArrowUpRight class="h-4 w-4 ml-2" aria-hidden="true" />
        </a>
      </div>
    </Gutter>
  </div>
  <div class="bg-gradient-to-b from-zinc-50 to-white h-16 mb-6"></div>
  <!-- <Gutter>
    <h2 class="text-4xl font-bold tracking-tight">Tech I'm using</h2>
  </Gutter> -->
</BaseLayout>
