---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="text-6xl font-bold leading-tight tracking-tight max-w-4xl">
    Full-stack React developer, guitarist, and lover of the outdoors.
  </h1>
  <p class="text-lg leading-relaxed text-zinc-600 mt-8 max-w-2xl">
    I'm Isaac, a React developer based in Chicago. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Optio voluptatibus animi officiis pariatur!
    Accusantium labore deserunt, nulla quas dolorem inventore.
  </p>
</BaseLayout>
