---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="bg-zinc-200 h-20 w-20 rounded-full mb-8"></div>
  <h1 class="text-5xl font-semibold leading-tight tracking-tight max-w-3xl">
    Full-stack React developer, guitarist, and coffee snob.
  </h1>
  <p class="text-lg leading-relaxed text-zinc-500 mt-8 max-w-2xl">
    I'm Isaac, a React developer based in Chicago. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Optio voluptatibus animi officiis pariatur!
    Accusantium labore deserunt, nulla quas dolorem inventore.
  </p>
</BaseLayout>
