---
import Gutter from "../layouts/Gutter.astro";
---

<footer class="border-t border-zinc-900/10 pt-8 pb-12 bg-zinc-50">
  <Gutter>
    <p class="text-sm text-zinc-600">
      Made by

      <a
        href="https://github.com/ihusemann"
        class="underline underline-offset-2 text-zinc-600 hover:text-zinc-900 transition-all ease-out"
        >Isaac Husemann</a
      >
    </p>
  </Gutter>
</footer>
