---
import Navlink from "./Navlink.astro";
---

<div class="fixed top-0 z-10 inset-x-0 pt-6 h-16 flex justify-center">
  <nav>
    <ul
      class="flex space-x-8 bg-white px-6 py-1.5 rounded-full shadow-lg shadow-zinc-800/5 border border-zinc-900/5"
    >
      <Navlink label="About" href="/" />
      <Navlink label="Contact" href="/contact" />
    </ul>
  </nav>
</div>
