---
---

<div class="fixed top-0 z-10 inset-x-0 pt-6 h-16 flex justify-center">
  <nav>
    <ul
      class="flex space-x-8 bg-white px-6 py-1.5 rounded-full shadow-lg shadow-zinc-800/5 border border-zinc-900/5"
    >
      <li>
        <a
          class="text-sm font-medium text-zinc-600 hover:text-emerald-500 transition-all"
          href="#">About</a
        >
      </li>
      <li>
        <a
          class="text-sm font-medium text-zinc-600 hover:text-emerald-500 transition-all"
          href="#">Projects</a
        >
      </li>
      <li>
        <a
          class="text-sm font-medium text-zinc-600 hover:text-emerald-500 transition-all"
          href="#">Contact</a
        >
      </li>
    </ul>
  </nav>
</div>
