---
interface Props {
  label: string;
  href: string;
}

const { pathname } = Astro.url;
const { label, href } = Astro.props;

const active = href === pathname;
---

<li>
  <a
    href={href}
    class:list={[
      "text-sm font-medium hover:text-emerald-600 ease-out transition-all",
      active ? "text-emerald-600" : "text-zinc-600",
    ]}>{label}</a
  >
</li>
